<div class="container">
    <br>
</div>



<div align="center">
    <br>
</div>


<div class="container" align="center">
    <div class="col-sm-3"></div>

    <div class="col-sm-2">
        <%= image_tag("NDIcon2.png", border: 0, width: 218, height: 218) %>
    </div>
    
    <div class="col-sm-1"></div>
    
    <div class="col-sm-3">
        <%= image_tag("KSIcon.png", border: 0, width: 200, height: 200) %>
    </div>
    
    <div class="col-sm-2"></div>
</div>



<div class="container">
    <div class="col-sm-3"></div>

    <div class="col-sm-2" align="center">
        <p>
            <font size="3.5">Dickinson Heath Sand Unit (North Dakota)</font>
        </p>
    </div>
    
    <div class="col-sm-1"></div>
    
    <div class="col-sm-3">
        <p align="center">
            <font size="3.5">Hall-Gurney Assets (Kansas)</font>
        </p>
    </div>
    
    <div class="col-sm-2"></div>
</div>

<div class="container">
    <div class="col-sm-3"></div>

    <div class="col-sm-2" align="center">
        <p>
            <font size="3.5"></font>
        </p>
    </div>
    
    <div class="col-sm-1"></div>
    
    <div class="col-sm-3">
        <p align="center">
            <font size="5" color="red">Currently listed on EnergyNet.com (Lot 37565)</font>
        </p>
    </div>
    
    <div class="col-sm-2"></div>
</div>

