<br>

<div class="container" align="center">
  <font size="6"><strong>Arkansas Midway Project</strong></font>
</div>

<br>

<div class="container">
    
    <div class="col-sm-12" align="center">
        <%= image_tag("ARIcon2.png", border: 0, width: 200, height: 200) %>
    </div>
    

</div>



<div class="container">
    
    <div class="col-sm-12">
        <p align="center">
            <font size="4">Midway Field (Arkansas)</font>
        </p>
    </div>

</div>