<div class="container">
  <div class="col-sm-12">
    <p align="center">
      <font size="6">
        <font color="blue"><i>Denver Office</i></font><br>
      </font>
      <font size="5">
        <font color="black">1900 Wazee Street, Suite 200</font><br>
        <font color="black">Denver, CO 80202</font><br>
        <font color="black">303-848-3900</font>
      </font>
    </p>
  </div>


<div class="container">
  <div align="center">
    <!DOCTYPE html>
<html>
  <head>
  <title></title>
  <style type="text/css">
  #map {
  width: 500px;
  height: 350px;
  }
  </style>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCEGwT-yR9U7Y1zu4jAS08ce1rqmYqiqzQ&callback=initMap"></script>

  <script type="text/javascript">

  google.maps.event.addDomListener(window, 'load', init);

  function init() {
    var center = new google.maps.LatLng(39.754, -104.996);
    var mapOptions = {
    zoom: 16,
    center: center
    };

    var mapElement = document.getElementById('map');

    var map = new google.maps.Map(mapElement, mapOptions);
    
    marker = new google.maps.Marker({
    position: center,
    map: map,
    title: 'ok'
    });

  }
  </script>
  </head>
<body>
<div id="map"></div>
</body>
</html>


  <br>
  <hr>

  </div>
</div>
  


<div class="container">
  <p align="center">
    <font size="6" color="blue"><%= mail_to "parker.stevens@c12energy.com" %></font>
  </p>
  
</div>