<div class="container">
  <div class="col-sm-6">
    <p align="center">
      <font size="6">
        <br>
        <font color="blue"><i>Denver Office</i></font><br>
      </font>
      <font size="5">
        <font color="black">1900 Wazee Street, Suite 200</font><br>
        <font color="black">Denver, CO 80202</font><br>
        <font color="black">303-848-3900</font>
      </font>
    </p>
  </div>
  
  <div class="col-sm-6">
    <p align="center">
      <font size="6">
        <br>
        <font color="blue"><i>Kansas Office</i></font><br>
      </font>
      <font size="5">
        <font color="black">555 S. Fossil Street</font><br>
        <font color="black">Russell, KS 67665</font><br><br>
      </font>
    </p>
  </div>
  
  <br><br><br>
  <hr>
  
</div>

<div class="container">
  <p align="center">
    <font size="6" color="blue">info@c12energy.com</font>
  </p>
  
</div>