<body class="eor_basics"></body>

<h2>
  <font class="c12Color">About Our Work</font>
</h2>

<div class="CO2Pic container">
  <p align="center">
    <%= image_tag "CO2Graphic2.PNG", width:"100%" %>
  </p>
</div>

<div class="container">
  <font size="4">
      An oil field life cycle typically has two phases: primary production, where oil and gas flow to the surface propelled by natural pressure, and secondary production, where water flooding recovers an even greater portion of the original oil in place. Nonetheless, these two methods often leave more than 65 percent of a reservoir’s resources trapped in the subsurface.
  </font>
</div>

<br>

<div class="container col-sm-8">
  <font size="4">
    Enhanced oil recovery (EOR) using carbon dioxide adds a third phase to that life cycle. 
    Injected CO2 mixes with the residual oil trapped in porous geological formations and
    washes it toward production wells. A portion of the CO2 remains trapped in the rocks.
    The remainder is produced along with oil from the reservoir, separated, and
    re-injected until nearly all the original gas becomes trapped in the subsurface.<br><br>
     
    In the past, oil companies have used natural sources of CO2 for EOR.  However, we are
    making use of anthropogenic CO2 sources by capturing, compressing and transporting
    emissions from industrial sites, thereby reducing greenhouse gas emissions to the
    atmosphere while using those emissions profitably in EOR projects.<br><br>
     
    This efficient pairing of industrial CO2 sources and EOR projects presents huge potential 
    both for reducing greenhouse gas emissions and for increasing production from EOR by 
    providing additional CO2 sources.
    </font>
</div>
  


<div class="container">
  <p align="center">
    <%= image_tag "OilinplaceChart_lrg.jpg", width:"33%" %>
  </p>
</div>

<div class="container">
  <font size="4">
    EOR is currently responsible for nearly 5 percent of the oil produced in the United States. Despite enormous production potential, the industry has been hindered by two factors: (1) limited access to naturally-occurring sources of CO2, and (2) a shortage of experts capable of the advanced analysis and engineering needed to design and operate EOR  projects successfully.<br><br>
 
  C12 Energy is overcoming these obstacles by 1) making use of anthropogenic CO2 sources, and  2) assembling a scientifically sophisticated team that specializes in geophysical analytics, reservoir mapping, and the engineering needed to design and operate EOR projects. Our team is comprised of veterans who have designed and built major EOR projects as well as junior staff who are applying advanced degrees and analytical skills from other disciplines to bring a new perspective to EOR.<br><br>
    </font>
</div>