<div class="container">
    <br>
</div>

<div class="container c12Color" align="center">
    
    <div class="col-sm-12">
        <%= image_tag("homepagePicLarge.JPG", border: 0, width: 600) %>
    </div>
    
    <br>
    
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
      <p>
        <font size="6"><i>Building the most scientifically sophisticated oil projects</i></font>
      </p>
    </div>
    <div class="col-sm-3"></div>
    
    <br>
    
</div>