<div class="container">
</div>

<div class="container c12Color" align="center">
    
    <div class="col-sm-12">
        <%= image_tag("homepagePicLarge.JPG", border: 0, width: 600) %>
    </div>
    

    
</div>