<h1>Welcome to Kansas</h1>

<li><%= link_to image_tag("KS.png", border: 0, width: 100, height: 100), {:controller=>"pages", :action=>'kansas_pdf'}, :target=>'_blank' %></li>

<li><%= link_to image_tag("ND.png", border: 0, width: 325, height: 200), {:controller=>"pages", :action=>'dhsu_pdf'}, :target=>'_blank' %></li>