<div class="container">
    <br>
    <br>
</div>



<div align="center">
    <font size="6">Acquisition Opportunities</font><br><br><br>
</div>


<div class="container">
    <div class="col-sm-1"></div>

    <div class="col-sm-2">
        <%= link_to image_tag("NDIcon2.png", border: 0, width: 200, height: 200), {:controller=>"pages", :action=>'dhsu_pdf'}, :target=>'_blank' %>
    </div>
    
    <div class="col-sm-2"></div>
    
    <div class="col-sm-2">
        <%= link_to image_tag("ARIcon.png", border: 0, width: 200, height: 200), {:controller=>"pages", :action=>'arkansas_pdf'}, :target=>'_blank' %>
    </div>
    
    <div class="col-sm-2"></div>
    
    <div class="col-sm-2">
        <%= link_to image_tag("KSIcon.png", border: 0, width: 200, height: 200), {:controller=>"pages", :action=>'kansas_pdf'}, :target=>'_blank' %>
    </div>
    
    <div class="col-sm-1"></div>
</div>



<div class="container">
    <div class="col-sm-1"></div>

    <div class="col-sm-2">
        <p align="center">
            <font size="4">Dickinson Heath Field (North Dakota)</font>
        </p>
    </div>
    
    <div class="col-sm-2"></div>
    
    <div class="col-sm-2">
        <p align="center">
            <font size="4">Midway Field (Arkansas)</font>
        </p>
    </div>
    
    <div class="col-sm-2"></div>
    
    <div class="col-sm-2">
        <p align="center">
            <font size="4">Hall-Gurney Assets (Kansas)</font>
        </p>
    </div>
    
    <div class="col-sm-1"></div>
</div>

