@import "bootstrap-sprockets";
@import "bootstrap";

.logo {
    padding-left: 20px;
}

.CO2Pic {
    width: 100%;
    height: 100%;
    background-size: contain;
}

.c12Color {
    color: #0088CB;
}

body {
    background-image: url('whiteBackground-8445196fdbe0321d590be3e0fb734b44167e3b51891e6fbf77e4809ba3fef851.jpg');
    background-color: #cccccc;
    background-size: 100%;
}

body.eor_basics {
     background-image: url('PureWhite-9c8cd5c028e928213b36801fff28d2c5ae4ec4ca4126fc86475dd9751b64307c.jpg');
    background-color: #cccccc;
    background-size: 100%;
}

hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 2px;
}